!!! 5
%html(lang="en")
  %head
    %title Hi There
    %script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
    %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    -#%script{:src=>"http://d3js.org/d3.v3.min.js"}
    -#%script{:src=>"rickshaw.js"}
    -#%link{:href=>"rickshaw.min.css", :rel=>"stylesheet"}
    %script{:src=>"//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"}
    :css
      body { margin-top: 10px; }

      .int {
        float: left;
      }

      .tot {
        text-align: right;
      }

      .statHeader {
        text-align: center;
        border-bottom: solid 1px #ddd;
      }

      .int, .tot {
        font-size: small;
      }

      .graph {
        width: 382px;
        height: 116px;
      }

      .header {
        font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        color: #999;
      }

      .stats {
        font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        color: #999;
      }

      .stats .data {
        color: #000;
      }

      #tooltip {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        border: 1px solid #fdd;
        padding: 2px;
        background-color: #fee;
        opacity: 0.80;
        z-index: 1000;
      }

  %body
    #tooltip
    .container
      .row
        .col-md-2
          %form#inputs(role="form")
            .form-group
              %label(for="testLength") Test Length
              %input#testLength.form-control(name="testLength" value="5")
            .form-group
              %label(for="messageLength") Message Length
              %input#messageLength.form-control(name="messageLength" value="100")
            .form-group
              %label(for="messageRate") Messages Per Second
              %input#messageRate.form-control(name="messageRate" value="5000")
            .form-group
              %label(for="queueDepth") Logshifter Queue Depth
              %input#queueDepth.form-control(name="queueDepth" value="100")
            .form-group
              %label(for="inputBufferSize") Logshifter Input Buffer Size
              %input#inputBufferSize.form-control(name="inputBufferSize" value="2048")
            %button#go.btn.btn-default(type="button") Submit
        .col-md-8
          .row
            .col-md-3
              #h2 Totals
              #logshifter.stats
                #avgReadLatency.statHeader
                  AVG READ LATENCY
                  %br/
                  .data -
                %p/
                #inputLines.statHeader
                  LINES READ
                  %br/
                  .data -
                %p/
                #inputDrops.statHeader
                  LINES DROPPED
                  %br/
                  .data -
                %p/
                #avgWriteDuration.statHeader
                  AVG WRITE DURATION
                  %br/
                  .data -
                %p/
                #outputLines.statHeader
                  LINES WRITTEN
                  %br/
                  .data -
            .col-md-9
              .row
                .col-md-12
                  .header LOGSHIFTER LINES
                  #loggerLinesGraph.graph
              %p/
              .row
                .col-md-12
                  .header LOGSHIFTER CPU
                  #loggerCpuGraph.graph
              %p/
              .row
                .col-md-12
                  .header LOGSHIFTER RSS
                  #loggerRamGraph.graph
              %p/
              .row
                .col-md-12
                  .header RSYSLOG CPU
                  #rsyslogCpuGraph.graph
              %p/
              .row
                .col-md-12
                  .header RSYSLOG RSS
                  #rsyslogRamGraph.graph

    :coffee
      totalReadLatency = 0
      totalLinesRead = 0
      totalLinesDropped = 0
      totalWriteTime = 0
      totalLinesWritten = 0
      totalWriteDuration = 0
      seriesIndex = {}
      # in, drop, out
      loggerLinesData = [
        {
          label: "read",
          data: []
        },
        {
          label: "drop",
          data: []
        },
        {
          label: "write",
          data: []
        }
      ]
      loggerCpuData = [{label: "cpu", data: []}]
      loggerRamData = [{label: "rss", data: []}]
      rsyslogCpuData = [{label: "cpu", data: []}]
      rsyslogRamData = [{label: "rss", data: []}]
      seriesIndex = {}
      resetData = ->
        $('#logshifter #inputDrops .data').text("-")
        totalReadLatency = 0
        totalLinesRead = 0
        totalLinesDropped = 0
        totalWriteTime = 0
        totalLinesWritten = 0
        totalWriteDuration = 0
        seriesIndex = {}
        # in, drop, out
        loggerLinesData = [
          {
            label: "read",
            data: []
          },
          {
            label: "drop",
            data: []
          },
          {
            label: "write",
            data: []
          }
        ]
        loggerCpuData = [{label: "cpu", data: []}]
        loggerRamData = [{label: "rss", data: []}]
        rsyslogCpuData = [{label: "cpu", data: []}]
        rsyslogRamData = [{label: "rss", data: []}]
        seriesIndex = {}

      resetData()
      maxDataPoints = 5


      addData = (seriesName, series, which, y) ->
        seriesIndex[seriesName] ||= []
        index = seriesIndex[seriesName][which] ||= 0
        series[which].data.push([index++, y])
        seriesIndex[seriesName][which] = index
        overage = series[which].data.length - maxDataPoints
        series[which].data.splice(0, overage) if overage > 0

      graphOptions =
        grid:
          hoverable: true
        series:
          lines:
            show: true
          points:
            show: true
        xaxis:
          show: false
        yaxis:
          min: 0
        legend:
          show: true
          position: 'sw'

      loggerLinesGraph = $.plot($('#loggerLinesGraph'), loggerLinesData, graphOptions)
      loggerCpuGraph = $.plot($('#loggerCpuGraph'), loggerCpuData, graphOptions)
      loggerRamGraph = $.plot($('#loggerRamGraph'), loggerRamData, graphOptions)
      rsyslogCpuGraph = $.plot($('#rsyslogCpuGraph'), rsyslogCpuData, graphOptions)
      rsyslogRamGraph = $.plot($('#rsyslogRamGraph'), rsyslogRamData, graphOptions)

      updateGraph = (graph, data) ->
        graph.setData(data)
        graph.setupGrid()
        graph.draw()

      showTooltip = (x, y, contents) ->
        $('#tooltip').css(
                        top: y + 5
                        left: x + 5
                      )
                     .text(contents)
                     .fadeIn(200)

      previousPoint = null

      $('.graph').on 'plothover', (event, pos, item)->
        if item
          if previousPoint != item.dataIndex
            previousPoint = item.dataIndex
            $('#tooltip').hide()
            x = item.datapoint[0].toFixed(2)
            y = item.datapoint[1].toFixed(2)
            showTooltip(item.pageX, item.pageY, item.series.label + ": " + y)
        else
          $('#tooltip').hide()
          previousPoint = null

      ws = new WebSocket('ws://10.3.8.6:8000')
      ws.onmessage = (event)->
        message = JSON.parse(event.data)

        stats = message.stats

        if message.name == 'logshifter'
          if message.type == 'pidstat'
            addData('loggerCpu', loggerCpuData, 0, parseFloat(stats['total_cpu_percent']))
            updateGraph(loggerCpuGraph, loggerCpuData)

            addData('loggerRam', loggerRamData, 0, parseInt(stats['resident_set_size']))
            updateGraph(loggerRamGraph, loggerRamData)
          else if message.type == 'stats'
            if stats['input.read'] and stats['input.read.duration']
              linesRead = Number(stats['input.read'])
              readLatency = parseFloat(stats['input.read.duration'])
              averageReadLatency = (readLatency / linesRead).toFixed(2)
              # add to graph

              totalLinesRead += linesRead
              totalReadLatency += readLatency
              averageReadLatency = (totalReadLatency / totalLinesRead).toFixed(2)
              $('#logshifter #avgReadLatency .data').text(averageReadLatency + "us")

              $('#logshifter #inputLines .data').text(totalLinesRead)

              addData('loggerLines', loggerLinesData, 0, linesRead)

            if stats['input.drop']
              drops = Number(stats['input.drop'])
              totalLinesDropped += drops
              $('#logshifter #inputDrops .data').text(totalLinesDropped)
              addData('loggerLines', loggerLinesData, 1, drops)
            else
              addData('loggerLines', loggerLinesData, 1, 0)

            if stats['output.write']
              linesOut = Number(stats['output.write'])
              addData('loggerLines', loggerLinesData, 2, linesOut)
              totalLinesWritten += linesOut
              $('#logshifter #outputLines .data').text(totalLinesWritten)

              writeDuration = parseFloat(stats['output.write.duration'])
              averageWriteDuration = (writeDuration / linesOut).toFixed(2)
              # add to graph
              totalWriteDuration += writeDuration
              averageWriteDuration = (totalWriteDuration / totalLinesWritten).toFixed(2)
              $('#logshifter #avgWriteDuration .data').text(averageWriteDuration + "us")

            else
              addData('loggerLines', loggerLinesData, 2, 0)

            updateGraph(loggerLinesGraph, loggerLinesData)




            ###
            $('#logshifter #avgWriteDuration .data').text(Number(stats['OutputAvgWriteDuration']).toFixed(2) + "us")
            $('#logshifter #inputLines .data').text(stats['InputLinesTotal'])
            $('#logshifter #inputDrops .data').text(stats['InputDrops'])
            $('#logshifter #outputLines .data').text(stats['OutputLinesTotal'])
            ###

        if message.name == 'rsyslog'
          addData('rsyslogCpu', rsyslogCpuData, 0, parseFloat(stats['total_cpu_percent']))
          updateGraph(rsyslogCpuGraph, rsyslogCpuData)

          addData('rsyslogRam', rsyslogRamData, 0, parseInt(stats['resident_set_size']))
          updateGraph(rsyslogRamGraph, rsyslogRamData)


      $('#go').click ->
        resetData()
        ws.send($('#inputs').serialize())
